.note{
	position: relative;
	display: inline-block;
	box-sizing: border-box;
	margin-top: 4%;
	background: white;
	border: 1px solid black;
	border-radius: 5px;
	box-shadow: 0px 0px 20px 0px #656565;
	transition: all 0.1s, transform 0.2s, box-shadow 0.2s, border-color 0.2s;
	cursor: pointer;
}

.note:hover{
	border-color: #004aa7;
}

.note-title{
	position: relative;
	display: block;
	padding: 2%;
	box-sizing: border-box;
	width: 100%;
	background-color: #E8E8E8;
	border-bottom: 1px solid #A6A6A6;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.note-body{
	position: relative;
	display: block;
	padding: 2%;
	box-sizing: border-box;
	width: 100%;
	background-color: white;
	height: 100px;
}

.note-body > p{
	display: block; /* or inline-block */
	text-overflow: ellipsis;
	word-wrap: break-word;
	overflow: hidden;
	max-height: 5.4em;
	line-height: 1.8em;
}

.note-footer{
	position: relative;
	display: block;
	padding: 2%;
	box-sizing: border-box;
	width: 100%;
	background-color: #E8E8E8;
	border-top: 1px solid #A6A6A6;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

/* extra small - 1 per row */
@media screen and (min-width: 0px) {
    .note{
		width: 100%;
		margin-right: 0px;
	}
}

/* small - 2 per row */
@media screen and (min-width: 426px) {
    .note{
    	width: 48%;
    	margin-right: 4%;
    }

    .note:nth-child(2n){
    	margin-right: 0px;
    }

    .note:hover{
		transform: scale(1.02);
		box-shadow: 0px 0px 20px 0px #004aa7;
	}
}

/* medium - 3 per row */
@media screen and (min-width: 576px) {
    .note{
    	width: 30%;
    	margin-right: 5%;
    }

    .note:nth-child(2n){
    	margin-right: 5%;
    }

    .note:nth-child(3n) {
    	margin-right: 0px;
    }
}

/* large - 4 per row */
@media screen and (min-width: 751px) {
    .note{
		width: 22%;	
    	margin-right: 4%;
    }

    .note:nth-child(2n){
    	margin-right: 4%;
    }

    .note:nth-child(3n) {
    	margin-right: 4%;
    }

    .note:nth-child(4n) {
    	margin-right: 0px;
    }
}

/* extra large - 6 per row */
@media screen and (min-width: 1501px) {
    .note{
		width: 15%;	
    	margin-right: 2%;
    }

    .note:nth-child(2n){
    	margin-right: 2%;
    }

    .note:nth-child(3n) {
    	margin-right: 2%;
    }

    .note:nth-child(4n) {
    	margin-right: 2%;
    }

    .note:nth-child(6n){
    	margin-right: 0px;
    }
}